/*
!.gitignore
!/MajorTom/
/MajorTom/*
!/MajorTom/placeholder.txt
!/MajorTom/pom.xml
!/MajorTom/src/
!/MajorTom/src/*
*/Servers/*
*/bin/*
*/RemoteSystemsTempFiles/*
*/target/*
*/build/*
*/.metadata/*   
*/.recommenders
*/.plugins/*
*.log
*.num
*.sjo
*/.metadata/*
*.classpath
*.project
*/META-INF/*
*weblogic.xml
