@CHARSET "UTF-8";

body
{
	background-color:#BBDDFF;
	color:#880077;
}

.panel
{
	background-color:#880077;
	color:#DDDDDD;
}

.jumbotron
{
	margin:0px!important;
	padding:0.15em!important;
	border-width:0.1em;
	border-color:#000000;
}

#ReceiptModal
{
	float:left;
	display:inline-block;
	background-color:#FFFFFF;
	color:#000000;
	height:20em;
	margin-top:1em;
	margin-left:0.5em;
	margin-right:1em;
	border-radius:0;
	border-width:0.01em;
	border-color:#000000;
	font-size:12pt;
	font-family:"Courier New", Courier, monospace;
	font-weight:bold;
	line-height:100%;
}
#ReceiptModal > p
{
	margin:0.05em 0.5em 0.05em 0.5em;
}

#InfoBar
{
	border-width:1px;
	border-color:#000000!important;
	border-style:solid;
}