@CHARSET "UTF-8";

body
{
	background-color:#CCEEFF;
	color:#880077;
}

.jumbotron
{
	padding:0.1em 2em 0.1em 1em;
	text-size:14pt;
}

.panel, .jumbotron
{
	background-color:rgba(97,14,83,0.8);
	color:#EEEEEE;
}

.farbutton
{
	text-align:right;
	float:right;
}

.tickerEntry
{
	min-width:18em;
	font-weight:bold;
}
.tickerValue
{
	font-weight:normal;
}

.warning
{
	color:darkred;
	background-color:lightgray;
	margin:0.1em;
	padding:0.1em;
}

#ReceiptModal
{
	z-index:5;
	position:fixed;
	background-color:#FFFFFF;
	color:#000000;
	margin:0px;
	padding:0.5em;
	border-style:solid;
	border-width:2px;
	border-color:#000000;
	font-size:12pt;
	font-family:"Courier New", Courier, monospace;
	font-weight:bold;
	line-height:100%;
	width:240px;
	height:400px;
}

#ReceiptModal > p
{
	margin:0.05em 0.5em 0.05em 0.5em;
}

#HeaderContainer
{
	background-color:rgba(97,14,83,0.8);
	color:#FFF;
	position:fixed;
	left:240px;
	padding:20px;
	z-index:10;
}

#HeaderContainer > div > h2, #HeaderContainer > div > label, #HeaderContainer > h1
{
	margin:0;
	padding:0;
}

#info-box
{
	z-index: 10000;
	position: relative;
	width: 275px;
	height: 80px;
	padding: 15px;
	background: #FFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#info-box:after
{
	z-index: 10000;
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 20px 15px 0;
	border-color: #FFF transparent;
	display: block;
	width: 0;
	bottom: -20px;
	left: 122px;
}