@CHARSET "UTF-8";

body
{
	background-color:#CCEEFF;
	color:#880077;
}

.jumbotron
{
	padding:0.1em 2em 0.1em 1em;
	text-size:14pt;
}

.panel, .jumbotron
{
	background-color:#771166;
	color:#EEEEEE;
}

.farbutton
{
	text-align:right;
	float:right;
}

.tickerEntry
{
	min-width:18em;
	font-weight:bold;
}
.tickerValue
{
	font-weight:normal;
}

.warning
{
	color:darkred;
	background-color:lightgray;
	margin:0.1em;
	padding:0.1em;
}

#ReceiptModal
{
	z-index:1000;
	position:fixed;
	float:left;
	display:inline-block;
	background-color:#FFFFFF;
	color:#000000;
	margin:5px;
	padding:0.5em;
	border-radius:0;
	border-width:0.01em;
	border-color:#000000;
	font-size:12pt;
	font-family:"Courier New", Courier, monospace;
	font-weight:bold;
	line-height:100%;
	width:240px
}

#ReceiptModal > p
{
	margin:0.05em 0.5em 0.05em 0.5em;
}

#HeaderContainer
{
	position:fixed;
	left:250px;
	border-width:3px;
	border-color:#000000!important;
	border-style:solid;
	margin-top:5px;
	padding:0.1em;
}

#HeaderContainer > div > h2, #HeaderContainer > div > label, #HeaderContainer > h1
{
	margin:0;
	padding:0;
}