<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<title>Welcome</title>
	<script defer src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="resources/css/homestrap.css">
	<link rel="stylesheet" href="resources/css/potatostrap.css">
	<link rel="stylesheet" href="resources/css/plane.css">
	<script defer src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script defer src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script defer src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>
	<script defer src="resources/js/app.js"></script>
	<script defer src="resources/js/receipt-modal.js"></script>
	<script defer src="resources/js/app-plane.js"></script>
	<script defer src="resources/js/info.js"></script>
</head>
<body data-ng-app="airline">
	<div id="mainCtrl" ng-controller="mainCtrl as main">
		<div id="ReceiptModal" class="ReceiptAnim" data-ng-controller="receiptController">
			<div class="right-link" ng-hide="recieptIsLogin" ng-click="recieptIsLogin = true"><a href="">Employee Login</a></div>
			<div class="right-link" ng-show="recieptIsLogin" ng-click="recieptIsLogin = false"><a href="">Enter Ticket</a></div>
			<div ng-hide="recieptIsLogin">
				<input type="text" id="TicketIDBox" class="form-control" size=20 placeholder="Ticket ID"/>
				<button type="button" data-ng-click="saveTicketId()" class="btn btn-primary">Go</button><br>
			</div>
			<div ng-show="recieptIsLogin">
				<input type="text" class="form-control" size=20 placeholder="Username" ng-model="user.username"/><br>
				<input type="text" class="form-control" size=20 placeholder="Password" ng-model="user.password"/><br>
				<button type="button" data-ng-click="employeeLogin()" class="btn btn-primary">Login</button><br>
			</div>
			<div data-ng-hide="loginVisible">
				<div data-ng-show="currentUser==null">
					<p>Ticket Number:</p><p>&nbsp#{{selectedTicket.ticketId}}</p>
					<p>Passenger Name:</p><p>&nbsp{{selectedTicket.firstName}} {{selectedTicket.lastName}}</p>
				</div>
				<div data-ng-show="currentUser!=null">
					<p class="warning">Employee Access</p>
					<p>User: {{currentUser.username}}</p>
					<p>{{currentUser.firstName}} {{currentUser.lastName}}</p>
					<button ng-click="reassignSeat(2, 98)">reassign seat 98's ticket to 2</button>
				<div>{{newSeatInfo2}}</div>
				</div>
			</div>
			<div data-ng-show="loginVisible">
				<button ng-click="setSeat(1, 98)">set seat 98's ticket to 1</button>
				<div>{{newSeatInfo}}</div>
				<button ng-click="findTicketBySeat(98)">get seat 98's ticket</button>
				<div>{{ticketInfo}}</div>
				<button ng-click="findFlightByTicket(1)">find flight by ticket 1</button>
				<div>{{flightByTicket}}</div>
				<button ng-click="reassignSeat(2, 98)">reassign seat 98's ticket to 2</button>
				<div>{{newSeatInfo2}}</div>
				
				Select a flight
				<br>
				<select id="flightSelect" ng-model="selectedFlight" value="{{selectedFlight.flightId}}" ng-change="changeFlight(selectedFlight.flightId)" ng-options="flight as 'Flight ' + flight.flightId for flight in flightList"></select>
    			<br>You selected: {{selectedFlight.flightId}}
			</div>
			<airline-login-btn id="airlineLoginBtn"></airline-login-btn>
			<div class="receipt-slide" data-ng-click="toggleReceipt()">
				<label>Login/Ticket Information</label>
				<div class="receipt-arrow"></div>
			</div>
		</div>
		<div id="HeaderContainer">Thomas Catalina Airport - Seat Reservations</div>
		
		<div id="big-container" data-ng-controller="infoController">
			<div id="info-box" class="info-box" data-ng-show="infoVisible"><pre style="font-size:150%; border:none; font-family:Courier New">{{infoContents}}</pre></div>
		</div>
		
		<div id="view-container" data-ng-view></div>
	</div>
</body>
</html>